.meny-container {
  text-align: center;
  padding: 30px;
}

ul {
  list-style-type: none;
}

ul em {
  color: pink;
  font-family:cursive;
}

.content-head {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5;
  color: #937c7c;
}

.meny-img {
  margin: 30px;
}

.mainText {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5;
  color: #937c7c;
}

.mainText ul li:nth-child(odd){
  color: rgb(176, 67, 67);
}