:root {
  --black: #000000;
  --hoverText: #2e0d1d;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}
html, body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5;
  background-color: var(--black);
  position: static;
}

body {
  display: flex;
  flex-direction: column;
}

/* ----- Navigation ----- */

.container {
  width: 100%;
  margin: auto;
  display: flex;
  position: sticky;
}
.bg-dark {
  background: #333;
  color: #fff;
}
.nav-link {
  margin-left: 1rem;
  border: 3px solid var(--black);
  opacity: .7;
  padding: 8px;
  border-radius: 10%;
}
.navhead-text {
  color: black;
  opacity: 0.7;
}
 .nav-link:hover {
  border: 3px solid white;
  transition: 0.2s;
}
.bg-img {
  
  display: flex;
  justify-content: center;
}
.navbar {
  background: #937c7c;
  color: #333;
  position: fixed;
  width: 100%;
}
.collapse:not(.show) {
  display: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: #2e0d1d;
}
.navbar-top {
  border-bottom: 1px solid #707070;
}
.navbar-top, .navbar {
  padding: 0.5rem 1rem;
}
.nav-link {
  color: black;
  font-style: bold;
}
.logo-img {
  display: flex;
}
.logo-img img {
  border-radius: 40%;
  margin-right: 0.5rem;
}
.logo-img:hover{
 opacity: 0.5;
}
.name {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  font-size: 1rem;
  }
.navbar-top .container,
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-top .hours span {
  color: #868686;
  font-size: 0.8rem;
}
.navbar-top .hours i {
  color: hsl(0, 18%, 9%);
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.navbar-top .hours {
  display: flex;
  align-items: center;
}
.navbar-top .container .socialmedia a {
  margin: 0 0.3rem;
}
.navbar-brand img {
  height: 2rem;
  margin-right: 7px;
  display: block;
}
.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

/* ----- SIDE-NAV ----- */

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  height: 220px;
  width: 40px;
  position: fixed;
  z-index: 1;
  top: 80px;
  padding-left: 3px;
  left: 0;
  background-color: rgba(41, 39, 39, 0.482);
  border-radius: 0 30px 30px 0;
  overflow: hidden;
  padding-top: 20px;
}
.sidenav a img {
  text-decoration: none;
  transition: 0.5s;
  width: 25px;
}
.sidenav a img:hover {
  transition: .2s;
  width: 35px;

}

/* ----- FOOTER ----- */

footer  {
  display: flex;
  justify-content: flex-end;
  /* position: fixed; */
  flex-direction: column;
  bottom: 0px;
  margin-top: 1rem;
}

.footer .foot-text{
  color: #937c7c;
  background-color: var(--black);
  text-align: left;
  margin: 10px 0 0 20px;
  height: 80px;
  width: 90%;
  list-style-type: none;
  font-size: smaller;
}

.foot-link {
  color: rgb(206, 189, 189);
}

footer a li .foot-link:hover {
  opacity: 0.5;
}

.date {
  color: #6f0a0a;
  text-align: center;
  font-size: smaller;
  margin: 10px auto;
}


/* ----- OVERLAY ----- */

.overlay { 
background: rgba(0, 0, 0, .5);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
z-index: 2;
}

.overlay-ul div, li a {
display: flex;
justify-content: column;
justify-content: flex-end;
font-size: 1rem;
color: darkred;
}

.overlay-ul div, li a:hover {
 transition: .5s ease-out;
}

.overlay ul {
padding: 5px;
margin-top: -16px;
margin-right: 22px;
position: relative;
}

ul .overlay-close {
margin: 10px auto;
cursor: pointer;
font-size: 4.5rem;
color: var(--black);
}
ul .overlay-close:hover {
  color: rgba(208, 208, 208, 0.5)
}

.stretched-text {
  letter-spacing: 2px;
  display: inline-block;
  font-size: 2rem;
  transform: scaleY(0.5);
  transform-origin: 0 0;
  margin-bottom: -50%;
}
span {
  font-size: 16px;
  vertical-align: top;
}

/* ----- Carousel ----- */

.dotBar {
  margin-top: 10px;
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  max-width: 100%;
  position: relative;
  margin: 100px auto;
  /* margin: 0 auto; */
  /* height: 500px; */
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.imgArrow {
  align-items: center;
}
 
/* Hide the images by default */
.mySlides {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 80px;
  max-width: 300px;
  margin-bottom: 150px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 50%;
  width: auto;
  margin-top: 70px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -50px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: -50px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(167, 156, 156, 0.8);
  border-radius: 50%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  /* position: absolute; */
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  /* position: absolute; */
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  flex-direction: column;
  /* position: relative; */
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ----- Screensize ----- */

@media(min-width: 220px) {
  .container {
    max-width: 767px;
  }
  .navbar-brand{
    display: block;
  }
  aside ul li a {
    font-size: 1.5rem;
    margin-right: 10px;
    letter-spacing: 3px;
  }
  #map, .contentText{
    max-width: 90%;
  }
}

@media(min-width: 768px) {
  .container {
    max-width: 900px;
    
  }
  .collapse:not(.show)  {
    display: flex;
  }
  .navbar-toggler, .navbar-brand{
    display: none !important;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .bg-img {
    margin: 0 5%;
  }
}

@media(min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media(min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .navbar-toggler, .navbar-brand{
    display: none;
  }
}

/* ----- Animation ----- */

.animation-target {
  animation: animation 1000ms linear both;
}

@keyframes animation { 
  0% { opacity: 0.5; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 300, 0, 0, 1); }
  3.15% { transform: matrix3d(1, 0, 0, 0, 0.043, 1, 0, 0, 0, 0, 1, 0, 213.004, 0, 0, 1); }
  4.7% { transform: matrix3d(1, 0, 0, 0, 0.05, 1, 0, 0, 0, 0, 1, 0, 165.092, 0, 0, 1); }
  6.26% { transform: matrix3d(1, 0, 0, 0, 0.052, 1, 0, 0, 0, 0, 1, 0, 118.172, 0, 0, 1); }
  9.41% { transform: matrix3d(1, 0, 0, 0, 0.047, 1, 0, 0, 0, 0, 1, 0, 34.962, 0, 0, 1); }
  11.76% { transform: matrix3d(1, 0, 0, 0, 0.039, 1, 0, 0, 0, 0, 1, 0, -11.272, 0, 0, 1); }
  14.11% { transform: matrix3d(1, 0, 0, 0, 0.032, 1, 0, 0, 0, 0, 1, 0, -42.273, 0, 0, 1); }
  17.22% { transform: matrix3d(1, 0, 0, 0, 0.023, 1, 0, 0, 0, 0, 1, 0, -61.606, 0, 0, 1); }
  18.72% { transform: matrix3d(1, 0, 0, 0, 0.019, 1, 0, 0, 0, 0, 1, 0, -63.633, 0, 0, 1); }
  22.67% { transform: matrix3d(1, 0, 0, 0, 0.011, 1, 0, 0, 0, 0, 1, 0, -53.444, 0, 0, 1); }
  24.32% { transform: matrix3d(1, 0, 0, 0, 0.009, 1, 0, 0, 0, 0, 1, 0, -45.164, 0, 0, 1); }
  28.13% { transform: matrix3d(1, 0, 0, 0, 0.005, 1, 0, 0, 0, 0, 1, 0, -23.746, 0, 0, 1); }
  29.93% { transform: matrix3d(1, 0, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, -14.277, 0, 0, 1); }
  35.54% { transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 6.172, 0, 0, 1); }
  39.09% { transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 11.178, 0, 0, 1); }
  41.04% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 11.753, 0, 0, 1); }
  50% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.746, 0, 0, 1); }
  52.15% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.637, 0, 0, 1); }
  63.26% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.171, 0, 0, 1); }
  85.49% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.401, 0, 0, 1); }
  100% { opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}



/* SKRÄP */

/* test overlay */
/* .overlay:not(.show) {
 display: none;
}
#Hamburger_bar:hover {
display: block;
} */

/* test slut overlay */


/* 
.mainText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
} */


/* .navbar-brand {
  display: flex;
  justify-content: space-between reverse;
  align-items: center;
  
} */

  
  
/* .navbar-toggler {
  font-size: 1.7rem;
  color: #1a0c0c;
  background-color: transparent;
  border: none; */
/* } */
/* .navbar-nav {
  font-style: bold; */
    
/* } */