.mediaViewInfo {
	--web-view-name: Startsida;
	--web-view-id: Startsida;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Startsida;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Startsida {
	position: absolute;
	width: 375px;
	height: 667px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: Startsida;
	--web-view-id: Startsida;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
#n_01f718e8cff2686d737510ec5f72 {
	position: absolute;
	width: 482px;
	height: 667px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_17 {
	position: absolute;
	width: 375px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_12 {
	position: absolute;
	width: 375px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Meny_bar {
	position: absolute;
	width: 375px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(147,124,124,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Hamburger_bar {
	position: absolute;
	width: 28.331px;
	height: 21.331px;
	left: 327px;
	top: 14.669px;
	overflow: visible;
}
#Sizing_Rectangle {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Sizing_Rectangle {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 21px;
	left: 0px;
	top: 0.331px;
}
#rgba2552552551 {
	fill: rgba(255,255,255,1);
}
.rgba2552552551 {
	overflow: visible;
	position: absolute;
	width: 21.5px;
	height: 1px;
	left: 3.5px;
	top: 5.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba2552552551_ {
	fill: rgba(255,255,255,1);
}
.rgba2552552551_ {
	overflow: visible;
	position: absolute;
	width: 21.5px;
	height: 1px;
	left: 3.5px;
	top: 10.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba2552552551_ba {
	fill: rgba(255,255,255,1);
}
.rgba2552552551_ba {
	overflow: visible;
	position: absolute;
	width: 21.5px;
	height: 1px;
	left: 3.5px;
	top: 15.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1391321321 {
	fill: rgba(139,132,132,1);
}
.rgba1391321321 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2px;
	left: 2.5px;
	top: 4.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1391321321_ {
	fill: rgba(139,132,132,1);
}
.rgba1391321321_ {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2px;
	left: 24.5px;
	top: 5.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1391321321_ba {
	fill: rgba(139,132,132,1);
}
.rgba1391321321_ba {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2px;
	left: 2.5px;
	top: 9.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1391321321_bb {
	fill: rgba(139,132,132,1);
}
.rgba1391321321_bb {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2px;
	left: 24.5px;
	top: 10.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1391321321_bc {
	fill: rgba(139,132,132,1);
}
.rgba1391321321_bc {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2px;
	left: 2.5px;
	top: 14.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1391321321_bd {
	fill: rgba(139,132,132,1);
}
.rgba1391321321_bd {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2px;
	left: 24.5px;
	top: 15.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1411341341 {
	fill: rgba(141,134,134,1);
}
.rgba1411341341 {
	overflow: visible;
	position: absolute;
	width: 20.5px;
	height: 1px;
	left: 4.5px;
	top: 4.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1411341341_ba {
	fill: rgba(141,134,134,1);
}
.rgba1411341341_ba {
	overflow: visible;
	position: absolute;
	width: 20.5px;
	height: 1px;
	left: 3.5px;
	top: 6.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1411341341_bb {
	fill: rgba(141,134,134,1);
}
.rgba1411341341_bb {
	overflow: visible;
	position: absolute;
	width: 20.5px;
	height: 1px;
	left: 4.5px;
	top: 9.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1411341341_bc {
	fill: rgba(141,134,134,1);
}
.rgba1411341341_bc {
	overflow: visible;
	position: absolute;
	width: 20.5px;
	height: 1px;
	left: 3.5px;
	top: 11.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1411341341_bd {
	fill: rgba(141,134,134,1);
}
.rgba1411341341_bd {
	overflow: visible;
	position: absolute;
	width: 20.5px;
	height: 1px;
	left: 4.5px;
	top: 14.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1411341341_be {
	fill: rgba(141,134,134,1);
}
.rgba1411341341_be {
	overflow: visible;
	position: absolute;
	width: 20.5px;
	height: 1px;
	left: 3.5px;
	top: 16.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba2814141 {
	fill: rgba(28,14,14,1);
}
.rgba2814141 {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 21px;
	left: 0px;
	top: 0.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1466016 {
	fill: rgba(14,6,6,0.165);
}
.rgba1466016 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1466016_bh {
	fill: rgba(14,6,6,0.165);
}
.rgba1466016_bh {
	overflow: visible;
	position: absolute;
	width: 2.831px;
	height: 2.831px;
	left: 25.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1466016_bi {
	fill: rgba(14,6,6,0.165);
}
.rgba1466016_bi {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 18.331px;
	transform: matrix(1,0,0,1,0,0);
}
#rgba1466016_bj {
	fill: rgba(14,6,6,0.165);
}
.rgba1466016_bj {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 3px;
	left: 25px;
	top: 18.331px;
	transform: matrix(1,0,0,1,0,0);
}
#Resturang_Spice {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	left: 39px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -11.5px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(60,55,55,1);
}
#Logo {
	position: absolute;
	width: 24px;
	height: 37px;
	left: 12px;
	top: 7px;
	overflow: visible;
}
#Group_5 {
	mix-blend-mode: hard-light;
	position: absolute;
	width: 24px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_6 {
	position: absolute;
	width: 24px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_31bb7ebc1f6302c2c4b537eae977 {
	position: absolute;
	width: 24px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}